@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

p, input, label{
  @apply text-[.9rem] placeholder:text-[.9rem] outline-none
}