@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  @apply font-poppins
}

p, input, label, li, button{
  @apply text-[.9rem] placeholder:text-[.9rem] outline-none
}